* {
  -webkit-user-select: none; /* Pour les navigateurs basés sur WebKit (Electron inclus) */
  -ms-user-select: none;     /* Pour Internet Explorer/Edge */
  user-select: none;         /* Standard CSS */
}

img{
  pointer-events: none; /* Désactive les événements sur les images */
  -webkit-user-drag: none; /* Spécifique à WebKit (incluant Electron) */
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  background-image: url(./assets/fond.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.App-header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  -webkit-app-region: drag;
}

.App-logo{
  animation:infinite 2s alternate App-logo-breath;
}

.App-body{

}

.App-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

@keyframes App-logo-breath {
  from {
    transform: scale(1) rotate(-5deg);
  }
  to {
    transform: scale(1.2) rotate(5deg);
    
  }
}
